// Theme colors
$text: #07111e;
$primary: #112d4e;
$secondary: #3f72af;
$muted: #dbe2ef;
$light: #f9f7f7;
$action: #ec8d1d;
$action-darker: #a15e0e;
$error: #aa2562;
$success: #44761a;

// Spacing
$margin-base: 0.75rem;
$margin-paragraph: 1.75rem;

$padding-base: 0.75rem;

// Border
$border-width-base: 1px;
$border-radius-base: 5px;

// Shadow
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
	0 1px 2px -1px rgb(0 0 0 / 0.1);
