@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Theme colors
$text: #07111e;
$primary: #112d4e;
$secondary: #3f72af;
$muted: #dbe2ef;
$light: #f9f7f7;
$action: #ec8d1d;
$action-darker: #a15e0e;
$error: #9f0e30;
$success: #44761a;

// Spacing
$margin-base: 0.75rem;
$margin-paragraph: 1.75rem;

$padding-base: 0.75rem;

// Border
$border-width-base: 1px;
$border-radius-base: 5px;

* {
	box-sizing: border-box;
	color: inherit;
	margin: 0;
}

body {
	padding: 0;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	color: $text;
	background-color: $light;
}

a {
	color: $secondary;
	text-decoration: none;
}

a:hover {
	color: #a15e0e;
}

hr {
	border: 0;
	border-top: $border-width-base dotted $secondary;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style-type: none;
}

.blog-container {
	padding-left: 2rem;
	max-width: 45rem;
}

.paragraph {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75rem;
	margin-top: $margin-paragraph;
}

.error {
	color: $error;
	font-weight: 600;
	border-color: $error;
	border-style: solid;
	margin: $margin-base;
	padding: $padding-base;
	border-radius: $border-radius-base;
	border-width: $border-width-base;
}

.success {
	color: $success;
	font-weight: 600;
	border-color: $success;
	border-style: solid;
	margin: $margin-base;
	padding: $padding-base;
	border-radius: $border-radius-base;
	border-width: $border-width-base;
}

.button-primary {
	color: $light;
	border: $border-width-base solid $primary;
	background-color: $primary;
	border-radius: $border-radius-base;
	padding: $padding-base;
	cursor: pointer;
}

.button-outline-primary {
	color: $primary;
	border: $border-width-base solid $primary;
	background-color: transparent;
	border-radius: $border-radius-base;
	padding: $padding-base;
	cursor: pointer;
}

.mr-4 {
	margin-right: 1rem;
}
